@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background: #EF4444;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #DC2626;
}